
body{
    margin: 0;
}
.div1{
	width:auto;
	height:850px;
	
	background:url("back.jpg");
	background-repeat: no-repeat;
    margin: 0 40px;
}
.public{
    width: 65px;
    margin: 20px;
    padding: 39px 16px;
    border-radius: 20px;
    float: left;
}