.div1{
	width:auto;
	height:850px;
	margin: 40px;
	background-size:120%;
	background:url("back.jpg");
	background-repeat: no-repeat;
}
.github{
	width: 65px;
    background-color: #e20e0e87;
    margin: 20px;
    padding: 39px 16px;
    border-radius: 20px;
    float: left;
}
.phone{
	width: 75px;
    background-color: #33d2a187;
    margin: 20px;
    padding: 39px 10px;
    border-radius: 20px;
    float: left;
}
.angle{
	width: 65px;
    background-color:#e4a9a9c2;
    margin: 20px;
    padding: 39px 16px;
    border-radius: 20px;
    float: left;
}