
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', arial, sans-serif;
    text-decoration: none;
}

li {
    list-style: none;
}

.float-font{
    width: 100%;
   position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    transform: translateY(-40px);
}
.float-font li{
    font-size: 20px;
}
.float-font li:nth-of-type(1){
    color: yellow;
    animation: float 20s linear infinite;
    animation-delay: 3s;
}
.float-font li:nth-of-type(2){
    color: #ffaf0d;
    animation: float 20s linear infinite;
    animation-delay: 13s;
}
.float-font li:nth-of-type(3){
    color: #0efdff;
    animation: float 20s linear infinite;
    animation-delay: 8s;
}
.float-font li:nth-of-type(4){
    color: #ff2f15;
    animation: float 20s linear infinite;
    animation-delay: 18s;
}

@keyframes float {
    from{
        transform: translateY(-40px);
    }
    to{
        transform: translateY(100vh);
    }
}

.black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("images/timg.jpg") center center/cover;
    z-index: -100;
    display: flex;
    flex-flow: wrap;
    opacity: 0;
    transition: all 1s;
}
.black2{
    z-index: -100;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.black2item{
    width: 9.99999%;
    height: 9.999999%;
    background: yellow;
    transition: all 1s;
    opacity: 1;
}
.red{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b40408;
    position:fixed;
    right: 0;
    bottom: 5%;
    z-index: 101;
}

.black .star{
    width: 50%;
    height: 40%;
    background: black;
}
.star:nth-of-type(1){

    animation: shan 1.3s infinite;
}
.star:nth-of-type(2){
    animation: shan 1.15s infinite;
}
.star:nth-of-type(3){
    height: 35%;
    animation: shan 1s infinite;
}
.star:nth-of-type(4){
    height: 35%;
     animation: shan 1.4s infinite;
 }

.star:nth-of-type(6){
    height: 25%;
    animation: shan 1s infinite;
}
.star:nth-of-type(5){
    height: 25%;
    animation: shan 1.2s infinite;
}
@keyframes shan {
    from{opacity: 0}
    to{opacity: 1}
}






.all {
    width: 99%;
    background: #f2f2f2;
    margin: 0 6px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    overflow: hidden;
}

.first {
    position: relative;
    width: 66.66666667%;
    height: 100vh;
    padding-top: 24px;
    background: url("images/banner-bg.png") no-repeat center center/cover;
    text-align: center;
    font-weight: 300;
    overflow: hidden;
}

.welcome {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.first i {
    font-size: 40px;
    line-height: 55px;
    position: absolute;
    left: 40px;
    top: 300px;
}

.first i:nth-of-type(2) {
    font-size: 40px;
    line-height: 55px;
    position: absolute;
    left: 90px;
    top: 350px;
}

.first i:nth-of-type(3) {
    font-size: 40px;
    line-height: 55px;
    position: absolute;
    left: 140px;
    top: 400px;
    opacity: 0;
    transition: all 1.5s;
}

.first i:nth-of-type(4) {
    font-size: 40px;
    line-height: 55px;
    position: absolute;
    left: 190px;
    top: 450px;
    opacity: 0;
    transition: all 3s;
}

.first .feng:hover i {
    opacity: 1;
}

@keyframes left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.first li {
    display: block;
    float: left;
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-weight: lighter;
}

.first:hover .welcome li:nth-child(1) {
    animation: color 4s infinite;
}

.first:hover .welcome li:nth-child(2) {
    animation: color 4s infinite;
    animation-delay: 0.5s;
}

.first:hover .welcome li:nth-child(3) {
    animation: color 4s infinite;
    animation-delay: 1s;
}

.first:hover .welcome li:nth-child(4) {
    animation: color 4s infinite;
    animation-delay: 1.5s;
}

.first:hover .welcome li:nth-child(5) {
    animation: color 4s infinite;
    animation-delay: 2s;
}

.first:hover .welcome li:nth-child(6) {
    animation: color 4s infinite;
    animation-delay: 2.5s;
}

.first:hover .welcome li:nth-child(7) {
    animation: color 4s infinite;
    animation-delay: 3s;
}

@keyframes color {
    0% {
        color: #00ffff;
    }
    20% {
        color: green;
    }
    40% {
        color: #ffff00;
    }
    60% {
        color: blue;
    }
    80% {
        color: #ff00ff;
    }
    90% {
        color: red;
    }
    100% {
        color: #00ffff;
    }
}

.second {
    width: 32.7%;
    height: 100vh;
    padding-top: 40px;
    text-align: center;
    transition: all 0.8s;
    background: #f4bc51;
}

.second img {
    display: block;
    width: 150px;
    height: 137px;
    margin: 0 auto;
    transition: all 1s;
}

.second:hover img {
    transform: rotateY(360deg);
}

.second .area {
    margin-bottom: 20px;
    line-height: 60px;
    display: block;
    border-bottom: 1px solid #ffffff;
}

.second ul li:nth-child(2n) {
    background: #f4bc51;
    transform: translateX(-70%);
    transition: all 3s;
}

.second ul li:nth-child(2n-1) {
    transform: translateX(70%);
    transition: all 3s;
}

.second:hover ul li {
    transform: translateX(0);
    background: #ffffff;
    color: #f4bc51;
}

.second .under {
    width: 70%;
    height: 20px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.second .under .icon {
    color: #f4bc51;
}

.second .under li {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: all 1s;
}

.second .under li:hover {
    background: #d59b2b;
}

.bottom {
    width: 98%;
    height: 50px;
    background: #f2f2f2;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #192314;
    text-decoration-line: line-through;
}

.box {
    width: 33%;
    height: 400px;
    background: #000000;
    margin-top: 6px;
}

.demo {
    transform: rotateY(45deg) rotateX(45deg);
    transform-style: preserve-3d;
    margin: 150px auto 150px auto;
    width: 100px;
    height: 100px;
}

.box:hover .demo {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.item {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    box-shadow: 0 0 2px 2px;
    border: 1px solid #f2f2f2;
}

.item:nth-child(1) {
    background: #007aff;
    transform: translateX(50px) rotateY(90deg);
}

.item:nth-child(2) {
    background: #00f4ff;
    transform: translateX(-50px) rotatey(90deg);
}

.item:nth-child(3) {
    background: #f4bc51;
    transform: translateY(50px) rotatex(90deg);
}

.item:nth-child(4) {
    background: #f44c51;
    transform: translatey(-50px) rotatex(90deg);
}

.item:nth-child(5) {
    background: #000000;
    transform: translatez(50px);
}

.item:nth-child(6) {
    background: #ffffff;
    transform: translatez(-50px);
}

.box2 {
    width: 33%;
    height: 400px;
    margin-top: 6px;
    background: #81cee8;
    overflow: hidden;
}

.float {
    width: 30%;
    height: 40px;
    background: white;
    border-radius: 25px;
    position: relative;
}

/*.box2:hover .float:nth-child(1) {
    animation: piao 10s linear infinite;
}*/

.float:nth-child(2) {
    width: 30%;
    height: 40px;
    background: white;
    border-radius: 25px;
}

/*.box2:hover .float:nth-child(2) {
    animation: piao 8s linear infinite;
}*/

.float:nth-child(3) {
    width: 20%;
    height: 30px;
    background: white;
    border-radius: 25px;
}

/*
.box2:hover .float:nth-child(3) {
    animation: piao 15s linear infinite;
}
*/

.float:before {
    content: "";
    width: 40%;
    height: 30px;
    position: absolute;
    left: 20%;
    top: -30%;
    background: white;
    border-radius: 50%;
}

.add {
    width: 50%;
    height: 30px;
    position: absolute;
    left: 30%;
    bottom: -30%;
    background: white;
    border-radius: 50%;
}

.float:after {
    content: "";
    width: 40%;
    height: 30px;
    position: absolute;
    left: 50%;
    top: -20%;
    background: white;
    border-radius: 50%;
}

.box3 {
    width: 33%;
    height: 400px;
    margin-top: 6px;
    background: white;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

/*@keyframes piao {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(500%);
    }
}*/

.pic {
    width: 33%;
    height: 33.333333%;
}

.pic:nth-of-type(1) {
    background: url("images/img1.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(2) {
    background: url("images/img2.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(3) {
    background: url("images/img3.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(4) {
    background: url("images/img4.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(5) {
    background: url("images/img5.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(6) {
    background: url("images/img6.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(7) {
    background: url("images/img7.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(8) {
    background: url("images/img8.jpg") no-repeat center center/cover;
}

.pic:nth-of-type(9) {
    background: url("images/img9.jpg") no-repeat center center/cover;
}

.pic:nth-child(1) .color {
    width: 100%;
    height: 100%;
    background: #45b45a;
}

.pic:nth-child(2) .color {
    width: 100%;
    height: 100%;
    background: #b4501c;
}

.pic:nth-child(3) .color {
    width: 100%;
    height: 100%;
    background: #b46aa8;
}

.pic:nth-child(4) .color {
    width: 100%;
    height: 100%;
    background: #4c2bb4;
}

.pic:nth-child(5) .color {
    width: 100%;
    height: 100%;
    background: #206fb4;
}

.pic:nth-child(6) .color {
    width: 100%;
    height: 100%;
    background: #15b484;
}

.pic:nth-child(7) .color {
    width: 100%;
    height: 100%;
    background: #b4b241;
}

.pic:nth-child(8) .color {
    width: 100%;
    height: 100%;
    background: #8187b4;
}

.pic:nth-child(9) .color {
    width: 100%;
    height: 100%;
    background: #6eb4b2;
}

.pic:hover .color {
    opacity: 0;
    transform: rotateY(180deg);
}

.lyric{
    width: 80%;
    height: 100%;
    color: #45b45a;
    overflow: auto;
}
.lyric ul{
    text-align: center;
    animation: goon 250s linear infinite;
    animation-delay: 18s;
}
.lyric ul img{
    width: 100%;
    height: 100%;
}
.lyric-button{
    width: 20%;
    height: 100%;
}
.box4{
    width: 33%;
    height: 400px;
    margin-top: 6px;
    background: white;
    position: relative;
    display: flex;
}
.bit{
    background: rgba(255, 255, 0, 0.68);
    width: 5px;
    height: 100%;
    position: absolute;
    right: 20%;
    transition: all 1s;
    transform-origin:0 80%;
}
.box4 .bid{
    transform:rotatez(-90deg);

}

@keyframes goon {
        from{

        }
    to{
        transform: translateY(-1800px);
    }
}
@media (max-width: 500px) {
    .all{
    }
    .first {
        width: 100%;
        padding-top: 24px;
    }

    .second {
        width: 100%;
        height: 550px;
        margin-top: 6px;
    }

    .box {
        width: 100%;
    }

    .box2 {
        width: 100%;
    }

    .box3 {
        width: 100%;
    }
    .box4 {
        width: 100%;
    }
}